asgiref==3.5.2
beautifulsoup4==4.11.1
distlib==0.3.6
Django==4.1.1
django-bootstrap4==22.2
django-crispy-forms==1.14.0
django-recaptcha==3.0.0
django-tinymce==3.5.0
filelock==3.8.0
fontawesomefree==6.2.0
mysql-connector-python==8.0.30
Pillow==9.2.0
platformdirs==2.5.2
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2022.2
virtualenv==20.16.3
