{% extends "main/header.html" %}
{% block content %}
    <div class="row display-flex justify-content-start">
    {% for object in objects %}
        <div class="col-lg-4 col-md-6 col-sm-12 mobiledevice">
            <article class="media content-section customhover" style="height: 95%;">
                <div class="media-body">
                    <a href="/{{object.slug}}">
                        <div class="aspect-ratio">
                            <img class="img-fluid" src="{{object.image.url }}">
                        </div>
                        
                    </a>
                    <div class="d-flex article-metadata">
                        <a href="{% url 'profile' object.author %}"class="mr-2">
                            {{object.author}}
                        </a>
                        <small class="text-muted">Published {{object.published|date:"F d, Y"}}</small>
                       
                        {% if object.author == user %}
                        <div style="float:right ;">
                            {% if type == "series" %}
                            <a href="{% url 'series_update' object.slug %}" class="btn btncolor btn-sm mt-1 mb-1">UPDATE</a>
                            <a href="{% url 'series_delete' object.slug %}" class="btn btn-danger color btn-sm mt-1 mb-1">DELETE</a>
                            {% else %}
                            <a href="{% url 'article_update' object.slug %}" class="btn btncolor btn-sm mt-1 mb-1">UPDATE</a>
                            <a href="{% url 'article_delete' object.slug %}" class="btn btn-danger btn-sm mt-1 mb-1">DELETE</a>
                            {%  endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        <a class="article-title line-clamp-2 title-style" style="font-size: 22px" href="/{{object.slug}}">
                            {{ object.title }}
                        </a>
                        <a href="/{{object.slug}}" style="text-decoration: none;">
                            <p class="article-content line-clamp-5 subtitle-style">{{ object.subtitle }}</p>
                        </a>
                    </div>
                </div>

            </article>
        </div>
    {% endfor %}
    </div>
{% endblock content %}